<div id="columns-container">
  {% for section in crate::admin::columns::REGULAR_SECTIONS %}
  <div data-section="{{section}}" class="sortable-section">
    <h1>{{ section }}</h1>
    {% for columns in columns.get(section) %} {% if columns.is_empty() %}
    <div class="sortable">Drop crate here</div>
    {% else %} {% for column in columns %}
    <div>
      {% let crates = column.crates|as_ref %} {% include "crates.html" %}
    </div>
    {% endfor %} {% endif %}
    <div class="sortable-ignore">Add new crate</div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
